@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme{
    --font-pirata: "Pirata", sans-serif;
}

::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Track background color */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* Thumb color (e.g., a gray from Tailwind's palette) */
    border-radius: 4px; /* Round the corners of the scrollbar thumb */
    border: 2px solid transparent; /* Optional: adds some space around the thumb */
  }

